@tailwind base;
@tailwind components;

@layer base {
    body {
        font-family: "Public Sans", sans-serif;
    }
}

@layer components {
    .app-pagination {
        width: fit-content;
        margin: auto;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .app-pagination li {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        border: 1px solid #e4e7e9;
    }
    .app-pagination li.selected {
        background-color: #fa8232;
        color: white;
        border-color: #fa8232;
    }
    .app-pagination .next,
    .app-pagination .previous {
        border-color: #fa8232;
        color: #fa8232;
        font-size: 24px;
        margin: 0px 15px;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fa8232;
    &::after {
        font-size: 20px;
        color: white;
    }
}

@tailwind utilities;
